VITE_FIREBASE_API_KEY=tu_api_key
VITE_FIREBASE_AUTH_DOMAIN=link-almohadas.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=link-almohadas
VITE_FIREBASE_STORAGE_BUCKET=link-almohadas.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=193699810029
VITE_FIREBASE_APP_ID=1:193699810029:web:23b6ae6df6f7f22c769ae4
VITE_FIREBASE_MEASUREMENT_ID=G-ZSF8N9XPQ7
VITE_SUPERADMIN_EMAIL=tu-email-superadmin@dominio.com
VITE_WHATSAPP_SELLER_NUMBER=5959XXXXXXXX
